<html>
    <head>
        {% if title %}
        <title>{{ title }} - RSS to eMail demo app</title>
        {% else %}
        <title>Welcome to RSS to eMail demo app</title>
        {% endif %}
    </head>
    <body>
        <div>
            RSS to eMail demo app:
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('addRssUrl') }}">Add RSS URL</a>
            <a href="{{ url_for('addUser') }}">Add Email</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>